# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
myenv/

# Environment variables
.env

# Django
db.sqlite3
*.sqlite3

# Migrations
*/migrations/*
!*/migrations/__init__.py

# Static & Media
staticfiles/
media/

# Celery
celerybeat-schedule

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db